dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
csgo-pages
csgo-listings
rates.json
proxies.txt
sms.conf
conf.d/directory-watcher.conf
conf.d/proxy-checker.conf
scraper_status.log
